<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.MemberMapper">
    <insert id="register">
        INSERT INTO MEMBER (USER_NO, USER_ID, USER_PW, USER_NAME, EMAIL)
        VALUES (SEQ_MEMBER.nextval, #{userId}, #{userPw}, #{userName}, #{email})
    </insert>
    <select id="exist" resultType="int">
        SELECT COUNT(*) FROM MEMBER WHERE USER_ID=#{userId}
    </select>
    <select id="get" resultType="models.member.Member">
        SELECT * FROM MEMBER WHERE USER_ID=#{userId}
    </select>
    <!--메서드 이름 / 반환값-->
    <select id="getList" resultType="models.member.Member">
        <!--<![CDATA[ 내용 ]] 이 있어야 쿼리 내의 꺽쇠괄호를 데이터로 인식하지 않음-->

        SELECT * FROM MEMBER
        <where>
            <if test="sdate != null">
        <![CDATA[
                REG_DT >= #{sdate}
                 ]]>
            </if>
            <if test="edate != null">
                <![CDATA[
                AND REG_DT < #{edate}
                 ]]>
            </if>
        </where>
        ORDER BY REG_DT DESC
    </select>
</mapper>